extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1 places
        small &nbsp;Find tourist places in delhi

    .row
      .col-xs-12.col-sm-8
        .row.list-group
          .col-xs-12.list-group-item
            h4
              a(href='/location') Red Fort
              small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
              span.badge.pull-right.badge-default 
            p.address old Delhi area
            p
              span.label.label-warning ticket price
              | &nbsp;
              span.label.label-warning guided tours
              | &nbsp;
              span.label.label-warning information centers
              | &nbsp;

          .col-xs-12.list-group-item
            h4
              a(href='/location2') India Gate
              small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.badge.pull-right.badge-default 
            p.address New Delhi
            p
              span.label.label-warning ticket price
              | &nbsp;
              span.label.label-warning guided tours 
              | &nbsp;
              span.label.label-warning security
              | &nbsp;

          .col-xs-12.list-group-item
            h4
              a(href='/location3') Jantar Mantar
              small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
              span.badge.pull-right.badge-default 
            p.address Heart of New Delhi
            p
              span.label.label-warning ticket price
              | &nbsp;
              span.label.label-warning information center
              | &nbsp;
              span.label.label-warning guided tours
              | &nbsp;

      .col-xs-12.col-sm-4
        p.lead
          | Looking for best tourist places?  tourist.spots helps you find places to have fun and spend time with your family.
Perhaps with hot drinks,snacks,water and food? 