extends layout

block content
  .row.page-header
    .col-lg-12
      h1 India Gate

  .row
    .col-xs-12.col-md-9
      .row
        .col-xs-12.col-sm-6
          p.rating
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star-empty
            span.glyphicon.glyphicon-star-empty
          p New Delhi

        .panel.panel-primary
          .panel-heading
            h2.panel-title Opening hours
          .panel-body
            p Monday - Friday: 7:00am - 7:00pm
            p Saturday: 8:00am - 5:00pm
            p Sunday: opened

        .panel.panel-primary
          .panel-heading
            h2.panel-title Facilities
          .panel-body
            span.label.label-warning
              span.glyphicon.glyphicon-ok
              | &nbsp;ticket price
              | &nbsp;
            span.label.label-warning
              span.glyphicon.glyphicon-ok
              | &nbsp;guided tours
              | &nbsp;
            span.label.label-warning
              span.glyphicon.glyphicon-ok
              | &nbsp;security
              | &nbsp;

      .col-xs-12.col-sm-6.location-map
        .panel.panel-primary
          .panel-heading
            h2.panel-title Location map
          .panel-body
            img.img-responsive.img-rounded(src='http://maps.googleapis.com/maps/api/staticmap?center=51.455041,-0.9690884&zoom=17&size=400x350&sensor=false&markers=51.455041,-0.9690884&scale=2')

  .row
    .col-xs-12
      .panel.panel-primary.review-panel
        .panel-heading
          a.btn.btn-default.pull-right(href='/location/review/new')
            | Add review
        h2.panel-title Customer reviews